<ion-view>
    <ion-nav-title>{{PointController.project.label}}{{PointController.title}}</ion-nav-title>
    <ion-tabs class="tabs-striped tabs-top tabs-background-positive tabs-color-light">

        <ion-tab title="Detalhes">
            <ion-view>
                <ion-content>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Nome do ponto (opcional)</span>
                        <input type="text" placeholder="Nome" ng-model="PointController.point.label">
                    </label>
                    <div class="list">
                        <div class="item item-divider">
                            Coordenadas
                        </div>
                        <div class="item">
                            Latitude
                            <div class="item-note">
                                <span ng-if="PointController.point.measure.latitude">
                                    {{PointController.point.measure.latitude}}
                                </span>
                                <span ng-if="!PointController.point.measure.latitude">
                                    -
                                </span>
                            </div>
                        </div>
                        <div class="item">
                            Longitude
                            <div class="item-note">
                                <span ng-if="PointController.point.measure.longitude">
                                    {{PointController.point.measure.longitude}}
                                </span>
                                <span ng-if="!PointController.point.measure.longitude">
                                    -
                                </span>
                            </div>
                        </div>
                        <div class="item item-divider">
                            Outras
                        </div>
                        <div class="item">
                            Altitude
                            <div class="item-note">
                                <span ng-if="PointController.point.measure.altitude">
                                    {{PointController.point.measure.altitude}}m
                                </span>
                                <span ng-if="!PointController.point.measure.altitude">
                                    -
                                </span>
                            </div>
                        </div>
                    </div>
                </ion-content>
                <div class="floating-buttons">
                    <button class="button button-balanced ion-earth" ng-click="PointController.enhance()"></button>
                    <button class="button button-positive ion-location" ng-click="PointController.register()"></button>
                </div>
            </ion-view>
        </ion-tab>

        <ion-tab title="Ponto no mapa">
            <ion-view>
                <ion-content>
                    <img ng-src="https://maps.googleapis.com/maps/api/staticmap?size=200x200&markers=color:red|label:A|{{PointController.point.measure.latitude}},{{PointController.point.measure.longitude}}&scale=2&zoom=18&sensor=true" />
                </ion-content>
            </ion-view>
        </ion-tab>

    </ion-tabs>
</ion-view>