<ion-view>
    <ion-nav-title>{{ProjectController.project.label}}</ion-nav-title>
    <ion-nav-buttons side="secondary">
        <button class="button button-icon icon ion-trash-b" ng-click="ProjectController.remove()"></button>
        <button class="button button-icon icon ion-upload"
                ng-click="ProjectController.share(ProjectController.project)"></button>
    </ion-nav-buttons>
    <ion-tabs class="tabs-striped tabs-top tabs-background-positive tabs-color-light">

        <ion-tab title="Detalhes">
            <ion-view>
                <ion-content>
                    <ion-list can-swipe="false">
                        <div class="item item-divider">
                            Detalhes
                        </div>
                        <div class="item">
                            Data criação
                            <div class="item-note">
                                {{ProjectController.project.created | date: 'medium'}}
                            </div>
                        </div>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Nome do projeto</span>
                            <input type="text" placeholder="Nome" ng-model="ProjectController.project.label"
                                   ng-change="ProjectController.save()">
                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Morada (opcional)</span>
                            <input type="text" placeholder="Morada" ng-model="ProjectController.project.address"
                                   ng-change="ProjectController.save()">
                        </label>

                        <div class="item item-divider">
                            Lista de pontos
                        </div>
                        <ion-item class="item"
                                  ng-if="!ProjectController.project.points || ProjectController.project.points.length == 0"
                                  ui-sref="point({projectId:ProjectController.project.id})">
                            <h2>Sem pontos</h2>

                            <p>Pressione aqui ou no botão <i class="ion-plus-round"></i> para adicionar</p>
                        </ion-item>
                        <ion-item class="item-avatar-right"
                                  ng-repeat="point in ProjectController.project.points"
                                  ui-sref="point({projectId:ProjectController.project.id, pointId: point.id})"
                                  on-hold="ProjectController.select(point)">

                            <img ng-src="https://maps.googleapis.com/maps/api/staticmap?size=200x200&markers=color:red|label:A|{{point.measure.latitude}},{{point.measure.longitude}}&scale=2&sensor=true"/>

                            <h2>{{point.label}}</h2>

                            <p>
                                <small>
                                    <span ng-if="point.measure && point.measure.latitude && point.measure.longitude">
                                        {{point.measure.latitude}}, {{point.measure.longitude}}
                                    </span>
                                    <span ng-if="point.measure && point.measure.altitude">
                                         / {{point.measure.altitude}}m
                                    </span>
                                </small>
                            </p>
                        </ion-item>
                    </ion-list>
                </ion-content>
                <div class="floating-buttons">
                    <button class="button button-positive ion-plus-round"
                            ui-sref="point({projectId:ProjectController.project.id})">
                    </button>
                </div>
            </ion-view>
        </ion-tab>

        <ion-tab title="Pontos no mapa">
            <ion-view>
                <ion-content>
                    <img ng-src="{{ProjectController.getMapUrl()}}"/>
                </ion-content>
            </ion-view>
        </ion-tab>

    </ion-tabs>
</ion-view>