<ion-view view-title="CivilApp">
    <ion-nav-buttons side="secondary">
        <button class="button button-icon icon ion-plus-round" ng-click="ProjectListController.create()"></button>
    </ion-nav-buttons>
    <ion-content>

        <ion-list can-swipe="false">
            <div class="item item-divider">
                Lista de projetos
            </div>
            <ion-item class="item"
                      ng-if="!ProjectListController.projects || ProjectListController.projects.length == 0"
                      ng-click="ProjectListController.create()">
                <h2>Sem projetos</h2>

                <p>Pressione aqui ou no botão <i class="ion-plus-round"></i> para adicionar</p>
            </ion-item>
            <ion-item class="item-avatar-right" ng-repeat="project in ProjectListController.projects | orderBy: project.created"
                      on-hold="ProjectListController.select(project)" ui-sref="project({projectId:project.id})">

                <img ng-src="https://maps.googleapis.com/maps/api/staticmap?size=200x200&markers=color:red|label:A|{{project.points[0].measure.latitude}},{{project.points[0].measure.longitude}}&scale=2&zoom=16&sensor=true"/>
                <h2>{{project.label}}</h2>

                <p><small>{{project.created | date: 'medium'}}<span ng-if="project.address"> / {{project.address}}</span></small></p>


            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>