/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:
*/
$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;

$positive: #1472CC;
$assertive: #B21B12;
$energized: #EAFF19;
$balanced: #00B246;
$calm: #095FB2;



// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

.floating-buttons {
  position:fixed;
  right: 10px;
  bottom: 10px;
  height: auto;
  left: auto;
  .button {
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
    box-shadow: 0px 2px 4px rgba(0,0,0,.5);
    border: none;
    display: block;
    margin-top: 10px;
  }
}
.bar {
  background-size:0px;
}